html,
.page {
    margin: 0;

    font-family: 'Montserrat Alternates', sans-serif;

    background-color: #ffffff;
    color: #263D45;
}

.page {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    width: 1140px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    white-space: nowrap;

    border: 0;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

main {
    display: block;
    width: 100%;
}

.bg-blue {
    min-height: 164px;

    background-image: url('/img/wave.png'), linear-gradient(to bottom, #ffffff 164px, #DFFAF3 164px);
    background-repeat: no-repeat, no-repeat;
    background-position: top center, top center;
    background-size: 100% 164px, auto;
}

.bg-white {
    min-height: 164px;

    background-image: url('/img/wave-white.png'), linear-gradient(to bottom, #DFFAF3 164px, #ffffff 164px);
    background-repeat: no-repeat, no-repeat;
    background-position: top center, top center;
    background-size: 100% 164px, auto;
}
